*{
	margin:0;
	padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #F5F5F5;
}

.logoIF{
    margin-left: 10%;
    width: 4%;
}

#sol{
    margin-left: 5%;
    width: 4%;
}

#navbar{
    background-color: rgb(104, 214, 120);
}

#searchButton{
    background-color: rgb(47, 158, 65);
}

#searchButton2{
    background-color: rgb(47, 158, 65);
    width: 50%;
    height: 20vh;
}

form{
    width: 80%;
    margin-left: 10%;
}

.menuRow{
    height: 85vh;
}

.logos{
    color: rgb(47, 158, 65);
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(47, 158, 65);
}

@media only screen and (max-width: 985px) {
    .logoIF {
      display: block;
      width: 7%;
      height: auto;
      margin-left: 45%;
    }

    #sol{
      margin-left: 5%;
      width: 7%;
   }
}

@media only screen and (max-width: 650px) {
    .logoIF {
      display: block;
      width: 10%;
      height: auto;
      margin-left: 45%;
    }

    #sol{
      margin-left: 10%;
      width: 4%;
    }
}

@media only screen and (max-width: 770px) {
    .socialMedia {
       margin-top: 40vh;
    }

    .logoInstagram{
        margin-right: 10%;
    }

    .logoFacebook{
        margin-right: 12%;
    }

    #searchButton2{
        width: 40%;
        height: 15vh;
        margin: 5%;
    }

   #sol{
      margin-left:5%;
      width: 12%;
    }

   .logoIF{
      margin-left: 5%;
      width: 10%;
   }
}


@media only screen and (max-width: 450px) {
    .logoInstagram{
        margin-right: 10%;
    }

    .logoFacebook{
        margin-right: 10%;
    }
    #searchButton2{
        width: 60%;
        height: 15vh;
        margin: 5%;
    }
    .socialMedia {
        margin-top: 32vh;
     }
    
    #sol{
      margin-left: 5%;
      width: 15%;
   }

   .logoIF{
      margin-left:8%;
      width: 10%;
   }
}

.col-4 a{
    display: block;
   padding-bottom: 3%;
}
